.nuget/NuGet.exe
obj
ChangeLog
LongoMatch/bin
LongoMatch.userprefs
LongoMatch.usertasks
Makefile
Makefile.include~
NEWS~
README~
RELEASE~
bin
bin_sh
compile
config.guess
config.log
config.status
config.sub
configure.ac~
depcomp
env
libtool
longomatch-0.15.0.tar.gz
ltmain.sh
missing
ChangeLog~
INSTALL~
autom4te.cache
.version
.mer*
*.lo
*.la
*~
*.orig
*.o
*tar.gz
*.pidb
.log.swp
CesarPlayer/CesarPlayer.dll.config
CesarPlayer/Makefile.in
CesarPlayer/a.dll
CesarPlayer/a.dll.mdb
CesarPlayer/bin/
CesarPlayer/cesarplayer.pc
CesarPlayer/AssemblyInfo.cs
LongoMatch/longomatch.desktop.in
LongoMatch/Makefile.in
LongoMatch/longomatch
LongoMatch/longomatch.desktop
LongoMatch/share/
Makefile.in
aclocal.m4
configure
install-sh
libvas/test-*
libvas/Makefile.in
libvas/libvas.md.pc
libvas/.deps/
libvas/.libs/
libvas/Makefile.in
libvas/baconvideowidget-marshal.c
libvas/baconvideowidget-marshal.h
log
m4/
po/GMO/
po/Makefile.in
po/Makefile.in.in
po/*gmo
po/*pot
po/POTFILES
po/stamp-it
po/.intltool-merge-cache
tools/deb-pkg.sh
*test-results/
*test-results.xml
*.pc
oneplay-longomatch
*Result.xml
*covcfg.*
obj/
.DS_Store
packages/
*.csproj.user
.deps
*.pyc
