<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<dllmap dll="libcesarplayer.dll" target="libcesarplayer.0.dylib" />
	<dllmap os="linux" dll="libcesarplayer.dll" target="libcesarplayer.so.0" />
	<dllmap os="windows" dll="libcesarplayer.dll" target="libcesarplayer-0.dll" />
	<dllmap dll="libgtk-2.0.dll" target="libgtk-quartz-2.0.0.dylib" />
	<dllmap os="linux" dll="libgtk-2.0.dll" target="libgtk-x11-2.0.so.0" />
	<dllmap os="windows" dll="libgtk-2.0.dll" target="libgtk-win32-2.0-0.dll" />
	<dllmap dll="libpango-1.0.dll" target="libpango-1.0.0.dylib" />
	<dllmap os="linux" dll="libpango-1.0.dll" target="libpango-1.0.so.0" />
	<dllmap os="windows" dll="libpango-1.0.dll" target="libpango-1.0-0.dll" />
</configuration>