<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<dllmap dll="libvas.dll" target="libvas.0.dylib" />
	<dllmap os="linux" dll="libvas.dll" target="libvas.so.0" />
	<dllmap os="windows" dll="libvas.dll" target="libvas-0.dll" />
	<dllmap dll="libgtk-2.0.dll" target="libgtk-quartz-2.0.0.dylib" />
	<dllmap os="linux" dll="libgtk-2.0.dll" target="libgtk-x11-2.0.so.0" />
	<dllmap os="windows" dll="libgtk-2.0.dll" target="libgtk-win32-2.0-0.dll" />
	<dllmap dll="libgdk-2.0.dll" target="libgdk-quartz-2.0.0.dylib" />
	<dllmap os="linux" dll="libgdk-2.0.dll" target="libgdk-x11-2.0.so.0" />
	<dllmap os="windows" dll="libgdk-2.0.dll" target="libgdk-win32-2.0-0.dll" />
	<dllmap dll="libpango-1.0.dll" target="libpango-1.0.0.dylib" />
	<dllmap os="linux" dll="libpango-1.0.dll" target="libpango-1.0.so.0" />
	<dllmap os="windows" dll="libpango-1.0.dll" target="libpango-1.0-0.dll" />
	<dllmap dll="libgdk_pixbuf-2.0.dll" target="libgdk_pixbuf-2.0.0.dylib" />
	<dllmap os="linux" dll="libgdk_pixbuf-2.0.dll" target="libgdk_pixbuf-2.0.so.0" />
	<dllmap os="windows" dll="libgdk_pixbuf-2.0.dll" target="libgdk_pxixbuf-2.0-0.dll" />
</configuration>