framework: net45, xamarinios, monoandroid7
strategy: min

source https://www.nuget.org/api/v2/
source {PREFIX}/share/nuget

nuget Castle.Core 4.1.1 restriction: >= net45
nuget FodyCecil 2.1.0 restriction: >= net45
nuget Fody 2.1.2
nuget Mono.Addins 1.3 restriction: >= net45
nuget Newtonsoft.Json 7.0.1
nuget OxyPlot.GtkSharp 1.0.0 restriction: >= net45
nuget PropertyChanged.Fody 2.1.3

content: once
nuget ModuleInit.Fody 1.6.0
