<configuration>
        <dllmap dll="libvas.dll" target="libvas.0.dylib"/>
        <dllmap os="linux" dll="libvas.dll" target="libvas.so.0"/>
        <dllmap os="windows" dll="libvas.dll" target="libvas-0.dll"/>
        <dllmap dll="libgstreamer-0.10.dll" target="libgstreamer-0.10.0.dylib"/>
        <dllmap os="linux" dll="libgstreamer-0.10.dll" target="libgstreamer-0.10.so.0"/>
        <dllmap os="windows" dll="libgstreamer-0.10.dll" target="libgstreamer-0.10-0.dll"/>
</configuration>
